html {
  color-scheme: dark;
}

body {
  font-family: system-ui;
  font-size: 2.25rem;
  display: grid;
  min-block-size: 100dvh;
  place-content: center;
}

nav ul {
  --_gap: 2rem;

  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  position: relative;
  padding-inline: calc(var(--_gap) / 2);
}
/*nav li::after {*/
nav li:nth-child(3)::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1rem;
  height: 3px;
  width: 100%;
  background: orangered;

  scale: 1 1;
  transition: scale 250ms, translate 250ms;
}
nav li:hover::after {
  /* When user just hover a <li> without hovering on another <li> first,
     Create animation of scale from 0-1 on the width from the middle when hover */
  scale: 1 1;
}

/*nav li:hover + li {*/
nav li:hover + li::after {
  /*color: hotpink;*/
  translate: -100%;
}

nav a {
  color: inherit;
  opacity: 0.7;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
}
nav a:hover,
nav a:focus-visible {
  opacity: 1;
}
