html {
  color-scheme: dark;
}

body {
  font-family: system-ui;
  font-size: 2.25rem;
  display: grid;
  min-block-size: 100dvh;
  place-content: center;
}

nav ul {
  --_gap: 2rem;

  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  overflow: hidden;
  position: relative;
  /*padding-inline: calc(var(--_gap) / 2);*/
  padding: calc(var(--_gap) / 2);
}

/* Setting the effect on 3rd child only so it is easy to show effect */
nav li::after {
  /*nav li:nth-child(3)::after {*/
  content: '';
  position: absolute;
  left: 0;
  /*bottom: -1rem;*/
  bottom: 0;
  height: 3px;
  width: 100%;
  background: orangered;

  translate: var(--_translate, 0);
  scale: var(--_width, 0) 1;

  /*transition: scale 250ms, translate 250ms;*/
  /* What Kevin wants to give is the effect that it stretch to the next|prev element first, before the current element shrink.
     But if you move quickly between elements, you will find the animation start acting funny. Kevin knows this. It's a css only solution hence not perfect */
  transition: scale 300ms var(--_scale-delay, 0ms),
    translate 500ms var(--_translate-delay, 0ms);
}

/*nav li:hover::after {
  !* When user just hover a <li> without hovering on another <li> first,
     Create animation of scale from 0-1 on the width from the middle when hover *!
  scale: 1 1;
}*/
/* use custom property so we don't need to add ::after for the selector, end result is the same as above when it using 'nav li:hover::after'*/
/* Give the stretch and shrink effect when user uses keyboard only (so it doesn't have the concept of mouse hover from one element and move to another element) */
nav li:hover,
nav li:focus-within {
  --_width: 1;
}

/*
!!!! The solution for the problem is when we hover something that is currently have the next <li> showing underline,
     We will make the next <li>'s underline slowly shrink 1-0 from the right to left position of the next <li>.
     We will make the current <li>'s underline slow stretch 01 from the right to left position of current <li>

     You can test with li:nth-child(3)::after to have scale 0 1 && nav li to have overflow: hidden;
     And then move from Pricing to About and Pricing to Blog to see effect.
*/

/* Check if the browser support :has(h1), if it does, doing the following logic, it doesn't means the h1 has to be in the index.html.
   'has' is currently support in chrome but not firefox. So in firefox, we fall back at the shrinking and stretching solution (not translation)
 */
@supports selector(:has(h1)) {
  /* This will show the underline in 'Pricing' (3rd one) disappear when you hover over 'About' (2nd one) */
  /*nav li:hover + li {*/
  /*nav li:hover + li::after {
    !*color: hotpink;*!
    translate: -100%;
  }*/
  /* use custom property so we don't need to add ::after for the selector, end result is the same as above when it using 'nav li:hover + li::after' */
  nav li:hover + li {
    --_translate: -100%;
    --_scale-delay: 300ms; /* keep it the same as the duration value of 300ms */
    --_translate-delay: 200ms;
  }

  /* This will show when you hover on 'Pricing' (3rd one), 'About' (2nd one)'s underline will move in from the right
     Meaning apply the styling on the <li> when the <li> has a next sibling, which is currently on hover
  */
  /*nav li:has(+ :hover) {*/
  /*nav li:has(+ :hover)::after {
    !*color: hotpink;*!
    translate: 100%;
  }*/
  /* use custom property so we don't need to add ::after for the selector, end result is the same as above when it using 'nav li:has(+ :hover)::after' */
  nav li:has(+ :hover) {
    --_translate: 100%;
    --_scale-delay: 300ms;
    --_translate-delay: 200ms;
  }
}

nav a {
  color: inherit;
  opacity: 0.7;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
}
nav a:hover,
nav a:focus-visible {
  opacity: 1;
}
